.vscode/*
!.vscode/extensions.json
node_modules/
.env
.env.local
!.env.development
!.env.production
.DS_Store
letsencrypt/
__pycache__/
*.pyc
.venv/
frontend/.svelte-kit/
frontend/build/
frontend/web/node_modules/
frontend/web/.svelte-kit/
frontend/web/build/
__ctrl__/.run/
__ctrl__/logs/
backend/target/
